# Visual Studio / Rider / JetBrains
.vscode/
.vs/
.idea/
*.suo
*.dll
*.exe
*.pdb

# User-specific files
*.user
*.suo
*.userprefs


# Binaries
bin/
obj/
debug/
net8.0/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if you have the NuGet packages folder at the solution level
#!/**/packages

# User-specific files
*.suo
*.user
*.userosscache


# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Rider generated .NET Core Files
.idea/
*.sln.iml
*.xproj.user

# Resharper
_ReSharper*/
*.resharper
*.[Rr]e[Ss]harper
*.DotSettings.user

# GhostDoc plugin settings
*.GhostDoc.xml

# Visual Studio Code
.vscode/
.history/

# Rider
.idea/
*.csproj.dotSettings.user
/ref/Dynamo.App/bin/Debug/net6.0/Dynamo.App.dll
/App/API/bin/Debug/net8.0/Api.deps.json
/App/API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
